.leftSide {
  width: 25px;
}
.sider-drawer {
  .ant-drawer-body {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sider-drawer-pic {
      
    }
  }
}
